.navbar {
	background-color: transparent;
}

div.campaign-content {
	background-color: #353737;
}

.graphicHeader {
	color: #f3464c;
}

.graphicHeader h3 {
  color: #808080 !important;
}

.color-head {
	color: #fff;
}

.jumbotron {
  height: 875px;
  background-image: url("../images/brochure_inside.png"), 
  linear-gradient(to bottom right, #636161, #2c2e2e);
  width: 100%;
  max-width: 1980px;
  background-repeat: no-repeat;
  background-position: center top;
  font-family: 'Poppins';
  font-weight: 600;
}

.special-footer {
	color: #fff;
}

.info-text {
	color: #999;
}

.card img{
	border-radius: 20px;
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
    background: #0e8bb1 !important;
    border-style: none;
    border-radius: 10px;
}

.btn-primary:hover {
    background: #333 !important;
}





