.jumbotron {
  height: 750px;
  background-image: url("../images/header-image.svg");
  background-repeat: no-repeat;
  background-position: center top;
  width: 100%;
  max-width: 1980px;
  background-color: white;
  font-family: 'Poppins';
  font-weight: 600;
}

.jumbotron2 {
  height: 750px;
  background-image: url("../images/about-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  max-width: 1980px;
  background-color: white;
  font-family: 'Poppins';
  font-weight: 600;
}

.navbar {
  background: transparent;
}

.navbar-brand {
	background-color: #fff;
}