body {
	background-color: #f3f5f7;
}

h1 {
	color: #f68d4d !important;
}

.intro {
	color: #f68d4d;
	padding-top: 600px;
}

.jumbotron-fluid {
  background-image: url("../images/studyspot.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}