body {
	background-color: #fff;
}

h1 {
	color: #f68d4d !important;
}

h2:after {
    content: '';
    background: #f68d4d;
    margin-top: 20px;
    width: 100px;
    height: 2px;
    display: block;
 
}

h3 {
	color: #3e3e3e !important;
}

.intro {
	color: #f68d4d;
	padding-top: 20px
}


.navbar {
	background: transparent;
}

.navbar-brand {
	background-color: #fff;
}

.secondaryHeader {
	color: #f68d4d !important;
}

.col-4 {
	padding: 0px;
}

.row {
	margin: auto;
}


.utilities-prototype {
	background-color: #000;
	border-radius:50px;
}





